<ion-content id=outer>
  <div class="warning">
    <!-- <div id=inner> -->
    <div class="logo">
      <img src="assets/imgs/icon.png">
    </div>
    <form [formGroup]="loginForm">
      <div class="temp">
        <ion-item style="background-color: transparent; padding-left: 0px;" class="logitem">
          <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"
            class="text-input">
          </ion-input>
        </ion-item>
      </div>
      <ion-item class="logitem1"
        *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p style="padding-left: 8px;">{{'username required!' | translate}}</p>
      </ion-item>
      <div class="temp">
        <ion-item style="background-color: transparent; padding-left: 0px;" class="logitem">
          <ion-input formControlName="password" *ngIf="!showPassword" type="password"
            placeholder="{{'Password*' | translate}}" class="text-input"></ion-input>
          <ion-input formControlName="password" *ngIf="showPassword" type="text"
            placeholder="{{'Password*' | translate}}" class="text-input"></ion-input>

          <button ion-button clear item-end (click)="toggleShowPassword()">
            <ion-icon style="font-size: 1.6em;" *ngIf="showPassword" name="eye" color="light"></ion-icon>
            <ion-icon style="font-size: 1.6em;" *ngIf="!showPassword" name="eye-off" color="light"></ion-icon>
          </button>
        </ion-item>
      </div>
      <ion-item class="logitem1"
        *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p style="padding-left: 8px;">{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <div class="btnDiv">
      <button ion-button class="btnLog" color="gpsc" (tap)="userlogin()">{{'SIGN IN' | translate}}</button>
      <ion-row>
        <ion-col width-50 ion-text color="light" style="font-size: 1.1em;" (tap)="forgotPassFunc()">
          {{'Forgot Password' | translate}} ?</ion-col>
        <ion-col width-50 ion-text color="light" style="font-size: 1.1em;">{{'New user?' | translate}}&nbsp;&nbsp;
          <span style="color:#006CB5;" (tap)="gotosignuppage()">{{'SIGN UP' | translate}}</span>
        </ion-col>
      </ion-row>
    </div>
    <!-- </div> -->
    <!-- <ion-row style="margin-top: 50%;">
      <ion-col col-12 style="text-align: center;">
        <p style="margin: 0px; color: #fff; font-weight: 500; font-size: 10px;">
          Call Support Time : 11 AM to 8 PM
        </p>
      </ion-col>
      <ion-col col-12>
        <p style="margin: 0px; color: #fff; font-weight: 500;font-size: 10px;">
          <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;
          support@oneqlik.in &nbsp;&nbsp; <ion-icon name="call"></ion-icon>&nbsp;&nbsp;
          +91 96737 77264
        </p>
      </ion-col>
    </ion-row> -->
  </div>
</ion-content>