<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Notifications" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="filterby($event)">
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item *ngIf="portstemp.length != 0" class="itemStyle">
    <ion-label>{{ "Select Vehicle" | translate }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="temp(selectedVehicle)">
    </select-searchable>
  </ion-item>
</ion-header>

<ion-content [ngClass]="{
    masters: portstemp.length != 0,
    masters1: portstemp.length == 0
  }">
  <div *ngIf="MassArray1.length == 0">
    <p padding-left>{{ "Oops.. No data found for selected vehicle.." | translate }}</p>
  </div>
  <div *ngIf="MassArray1.length != 0">
    <ion-list>
      <ion-item *ngFor="let notif of MassArray1; let i = index" (click)="onNotifMap(notif)">
        <ion-avatar item-start>
          <img src="assets/imgs/sos.png" *ngIf="notif.type === 'SOS'" />
          <img src="assets/imgs/speedlimit.png" *ngIf="notif.type === 'overspeed'" />
          <img src="assets/imgs/geofence.jpg" *ngIf="notif.type === 'Geo-Fence'" />
          <img src="assets/imgs/ignition-switch-icon.jpg" *ngIf="notif.type === 'IGN'" />
          <img src="assets/imgs/car_blue_icon.png" *ngIf="notif.type === 'route-poi'" />
          <img src="assets/imgs/petrolpump4.jpg" *ngIf="notif.type === 'Fuel'" />
          <img src="assets/imgs/system_status-noun_63767_cc.png" *ngIf="notif.type == 'status'" />
          <img src="assets/imgs/AccurateMapping.jpg" *ngIf="notif.type === 'Route'" />
          <img src="assets/imgs/Snowflakes_snow-10-512.png" *ngIf="notif.type === 'AC'" />
          <img src="assets/imgs/power-png-icon-6.png" *ngIf="notif.type === 'power'" />
          <img src="assets/imgs/key_orange.jpg" *ngIf="notif.type === 'immo'" />
          <img src="assets/imgs/342e07b3a6f1628afd14c9b4e6c93afe_icon.png" *ngIf="notif.type === 'theft'" />
          <img src="assets/imgs/bell_active.png" *ngIf="notif.type === 'Reminder'" />
          <div *ngIf="notif.type === 'door'">
            <img src="assets/imgs/statusIcons/car_door_open.png" style="width: 35px;" *ngIf="notif.switch === 'OFF'" />
            <img src="assets/imgs/statusIcons/car_door_close.png" *ngIf="notif.switch === 'ON'" />
          </div>
        </ion-avatar>
        <h2>{{ notif.item._type | titlecase }}</h2>
        <p ion-text text-wrap>{{ notif.item["sentence"] }}</p>
        <p *ngIf="notif.type === 'IGN'">{{'odo' | translate}}: <span
            [ngClass]="{ 'switchOn': notif.switch === 'ON','switchOff':   notif.switch === 'OFF' }">{{notif.odo | number: "1.0-2"}}
            km(s)</span></p>
        <ion-row item-end>
          <ion-col width-40>
            <div style="margin-top:19%;">
              <p style="text-align: right;font-size: 12px;">
                {{ notif.timestamp | date: "mediumDate" }}
              </p>
            </div>
            <div style="margin-top:19%;">
              <p style="text-align: right;font-size: 12px;">
                {{ notif.timestamp | date: "shortTime" }}
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>